.home-titulo {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
    color: #20313d;
}

.home-parrafo {
    font-size: 1.1rem;
    line-height: 2rem;
    color: #20313d;
}
.home-link {
    text-decoration: none;
}

.home-btn {
    background-color: #20313d;
    color: #4DA07D;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: .7rem;
}

.home-btn:hover {
    transform: scale(1.1,1.1);
    transition: .5s;
}